**/.mypy_cache/
**/__pycache__/
/.pants.d/
/.vscode/
/.pids/
/dist/
.venv/
bin/pants
**/*.db
**/*.duckdb
**/dagster_local/*
.aider*
.env
**/*.egg-info/
progress.log
# dlt specific
**/.dlt/secrets.toml
**/.dlt/data/
**/.dlt/.sources
**/.dlt/.pipelines
**/.dlt/state/

