---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
  skip:
  - sqlfluff-fix
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    exclude: src/ol_superset/assets
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-toml
  - id: debug-statements
- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.3
  hooks:
  - id: yamlfmt
    exclude: src/ol_superset/assets
    args:
    - --mapping
    - '2'
    - --sequence
    - '2'
    - --offset
    - '0'
    - --width
    - '80'
    - --preserve-quotes
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.38.0
  hooks:
  - id: yamllint
    exclude: src/ol_superset/assets
    args: [--format, parsable, -d, relaxed]
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    exclude: src/ol_superset/assets
    args:
    - --exclude-files
    - uv.lock
    - --exclude-files
    - src/ol_dbt/package-lock.yml
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.14.14'
  hooks:
  - id: ruff-format
  - id: ruff-check
    args: [--extend-ignore=D1, --fix]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
  - id: mypy
    args:
    - --explicit-package-bases
    - --namespace-packages
    - --config-file=pyproject.toml
    - --warn-unused-configs
    additional_dependencies:
    - pydantic
    - types-PyYAML
    - types-pytz
    - types-pymysql
    - types-requests
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 4.0.0
  hooks:
  - id: sqlfluff-fix
      # Arbitrary arguments to show an example
      # args: [--rules, "L003,L014"]
    additional_dependencies: ['dbt-trino']
  - id: sqlfluff-lint
      # For dbt projects, this installs the dbt "extras".
      # You will need to select the relevant dbt adapter for your dialect
      # (https://docs.getdbt.com/docs/available-adapters):
    additional_dependencies: ['dbt-trino']
