[tool.poetry]
name = "ol-data-pipelines"
version = "0.1.13"
description = "Data pipelines for open learning"
authors = ["Tobias Macey"]
license = "BSD-3-Clause"
readme = "README.md"
repository = "https://github.com/mitodl/ol-data-pipelines"
classifiers = [
    'Framework :: Dagster',
    'Operating System :: Linux',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.8',
]
packages = [
    { include = "ol_data_pipelines", from = "src/" },
]

[tool.poetry.dependencies]
dagit = "^0.9"
dagster = "^0.9"
dagster-aws = "^0.9"
dagster-bash = ">=0.7"
dagster-cron = "^0.9.4"
dagster-ge = "^0.9"
dagster-postgres = "^0.9"
great-expectations = "*"
httpx = "<1.0"
pymysql = "^0.9.3"
pypika = "^0.36.0"
python = "^3.8"

[tool.poetry.dev-dependencies]
isort = "^4.3.21"
mypy = "^0.782"
pre-commit = "^2.3.0"
pytest = "^6.0.0"
wemake-python-styleguide = "^0.14.0"
invoke = "^1.0.0"
poetry = "^1.0.9"
vdist = "^2.1.1"
black = "^20.8b1"

[tool.black]
target-version = ["py38"]

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
